{% extends "poll/layout/base.html" %}
{% block title %} Информация по сотруднику {% endblock %}

{% block main %}
        <div class="box_text">
        <a href="{% url 'detail' persona.pk %}"><b>Сотрудник:</b></a>
        <br>
            <br>
             <h2><b>{{ persona.full_name }}</b></h2>
             <p><b>Персональный ID: {{ persona.personal_id }}</b></p>
             <p><b>Расширенный ID: {{ persona.ext_id }}</b></p>

             {% load static %}
             {% for photo in photos %}
             <img src="/{{ photo.data_photo }}">
             {% endfor %}

             {% for test in tests %}
             <p><b>Назначенное время теста: {{ test.expected_time }}</b></p>
             <p><b>Фактическое время сдачи теста: {{ test.result_time }}</b></p>
             <p><b>Результат: {{ test.result }}</b></p>
             {% endfor %}
        </div>

{% endblock %}