{% extends "poll/layout/base.html" %}

{% block main %}
<br>
<br>
<h2>СПИСОК СОТРУДНИКОВ, ПРОВАЛИВШИХ ТЕСТ</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ФИО</th>
    </tr>
  </thead>
{% for personal in personals %}
<tbody>
    <tr>
        <th scope="row">{{ personal.personal_id }}</th>
        <td><a href="{% url 'card' personal.pk %}"><b>{{ personal.full_name }}</b></a></b></td>
    </tr>
    </tbody>
{% endfor %}
    </table>
</div>
{% endblock %}