{% extends "poll/layout/base.html" %}



{% block content %}
<div class="box_text">
    <form id="personal" method="post">{% csrf_token %}
        <br>
        <label><b>ФИО:</b></label>
    <p><input type="text" name="full_name" id="full_name" form="personal"></p>
        <label><b>Расширенный ID:</b></label>
        <p><input type="number" name="ext_id" id="ext_id" form="personal"></p>
        <label><b>Назначенное время сдачи теста:</b></label>
        <p><input type="datetime" name="expected_time" id="expected_time" form="personal"></p>
        <label><b>Фактическое время сдачи теста:</b></label>
        <p><input type="datetime" name="result_time" id="result_time" form="personal"></p>
        <label><b>Результат теста:</b></label>
        <p><input type="checkbox" name="result" id="result" form="personal"></p>
    <p><input type="submit" form="personal"></p></form>
</div>
{% endblock %}