{% extends "poll/layout/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <b>{{ form|crispy }}</b>
    <button type="submit" class="btn btn-success">Save person</button>
  </form>


</div>
<script type="text/javascript">
      $(function () {
        $("#datetimepicker1").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DD HH:mm', });
        $("#datetimepicker2").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DD HH:mm', });
      });
</script>
{% endblock %}