[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.3"
pillow = "*"
django-crispy-forms = "*"
djangorestframework-simplejwt = "*"
django-datetime-widget = "*"
pipfile = "*"
bootstrap4 = "*"
drf-yasg = "*"
djoser = "*"
django-datatable-view = "*"
pipenv = "*"
pip = "*"
django-cors-headers = "*"
django-tables2-bootstrap4 = "*"
drf-proxy-pagination = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.9"
