{% extends "poll/layout/base.html" %}
{% block main %}
{% load crispy_forms_tags %}
{% load tz %}
 {% load tags %}
<head>
<style>
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    margin: auto;
    text-align: center;
}
.dark {
    border: none;
    padding: 8px;
    color: white;
    background-color:  #2f4f4f;
    text-align: center;
}
.card2 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    margin: auto;
    text-align: center;
}
.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}
.dark3 {
    border: none;
    padding: 8px;
    color: white;
    background-color:  #556B2F;
    text-align: center;
};

table {
    margin: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
.fa-check {
  color: green;
}
.fa-remove {
  color: red;
}
.title {
    color: black;
    font-size: 18px;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #2f4f4f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
p {
  font-size: 15px;
  color: black;
}
a {
    text-decoration: none;

    color: black;
}
button:hover, a:hover {
    opacity: 0.7;
}
.select,
  #locale {
    width: 100%;
  }
.form-group {
     width: 100%;
     height: 100%;
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}
.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
</style>
</head>
<body>
<br>
<div class="col-container">

    <div class="col">

<div class="card1">
  <div class="dark">
  <b>СОТРУДНИК</b>
  </div>
  {% load static %}
  <p>{% for photo in photos %}
  <img src="/{{ photo.data_photo }}" width="150" height="200">
  {% endfor %}</p>

    {% if request.user|has_permission:"poll.change_photo" %}
<div class="btn-group btn-group dropdown">
    <div class="dropdown mr-4">
  <button type="button" class="btn btn-secondary dropdown-toggle" style="border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #2f4f4f;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size: 20px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Изменить фото</button>
  <div class="dropdown-menu" style="width: 800px;">
      <form class="px-4 py-3" method="post" style="text-align: center;" enctype="multipart/form-data" action="{% url 'photo' persona.personal_id %}">{% csrf_token %}
           <table>{{ formset }}</table>

            <br>
            <input type="submit" value="Сохранить" />
      </form>
  </div>
    </div>
</div>
{% endif %}

  <h1>{{ persona.full_name }}</h1>
  <p><b>Персональный ID: {{ persona.personal_id }}</b></p>
  <p><b>Расширенный ID: {{ persona.ext_id }}</b></p>
  <p><b>Дата рождения: {{ persona.birth_date }}</b></p>
  <p><b>Должность: {{ persona.position }}</b></p>
  <p><b>Взыскания: {{ persona.punishment }}</b></p>

{% if request.user|has_permission:"poll.change_personal" %}
  <div class="btn-group btn-group dropup">
    <div class="dropdown mr-4">
  <button type="button" class="btn btn-secondary dropdown-toggle" style="border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #2f4f4f;
    text-align: center;
    cursor: pointer;

    font-size: 20px; margin: auto;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Редактировать</button>

  <div class="dropdown-menu" style="width: 450px;">
    <form class="px-4 py-3" method="post" id="ajax_put" style="text-align: center;" enctype="multipart/form-data" action="">

      <input type="hidden" name="_method" value="PUT">
      {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><b>Расширенный ID</b></span>
          </div>
          <input type="number" class="form-control" name="ext_id_put" value="{{ persona.ext_id }}" placeholder="Расширенный ID" /><br>

          </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"><b>ФИО</b></span>
          </div>
        <input type="text" class="form-control" name="full_name_put" value="{{ persona.full_name }}" placeholder="ФИО"/>
        </div>

        <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><b>Д.Р.</b></span>

                    <div class="input-group date" id="datetimepicker_p" style="width: 350px;" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" id="birth_date_put" name="birth_date_put" value="{{ persona.birth_date|date:'Y-m-d' }}" data-target="#datetimepicker_p" placeholder="Дата рождения"/>
                    <div class="input-group-append" data-target="#datetimepicker_p" data-toggle="datetimepicker"><div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div></div>
                      </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon4"><b>Должность</b></span>
          </div>
        <input type="text" class="form-control" name="position_put" value="{{ persona.position }}" placeholder="Должность"/>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon5"><b>Взыскания</b></span>
          </div>
        <input type="text" class="form-control" name="punishment_put" value="{{ persona.punishment }}" placeholder="Взыскания"/>
        </div>

        <input type="submit" class="btn btn-primary" id="btn_put" value="Сохранить" />

  </form>
 </div>
</div>
</div>
{% endif %}

    <div class="card3">
  <div class="dark3">
  <b>ОБЩИЕ ДАННЫЕ ПО ТЕСТАМ</b>
  </div>
  <div id="count"></div>
  <div id="passed"></div><div id="pass"></div>
  <div id="failed"></div><div id="fail"></div>
    <div id="aver"></div>
    <div id="last"></div>
</div>

</div>
    </div>

<div class="col">
<div class="card2">
    {% if request.user|has_permission:"poll.add_tests" %}
  <div class="dark">
  <b>СПИСОК ТЕСТОВ СОТРУДНИКА</b>
  </div>
{% endif %}

  <div id="toolbar">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

{% if request.user|has_permission:"poll.delete_tests" %}
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button id="remove" class="btn btn-danger" disabled>
        <i class="fa fa-trash"></i> Удалить
        </button>
      </div>
{% endif %}

{% if request.user|has_permission:"poll.add_tests" %}
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <div class="dropdown mr-4">
        <button type="button" class="btn btn-secondary dropdown-toggle" style="width: 105px;" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        Добавить
        </button>
        <div class="dropdown-menu">

  <form class="px-4 py-3" method="post" id="ajax_form" enctype="multipart/form-data" style="width: 300px;" action="">
        {% csrf_token %}

        <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="expected_time" data-target="#datetimepicker1" placeholder="Назнач. время"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"><div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                    </div>
        </div>

        <div class="form-group">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="result_time" data-target="#datetimepicker2" placeholder="Фактич. время"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker"><div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                    </div>
        </div>

        <div class="form-group form-check">
                    <label class="form-check-label" for="result">
                    <input type="checkbox" class="form-check-input" id="result" name="result" value="on" checked/>
                    Результат</label>
        </div>


        <input type="submit" class="btn btn-primary" id="btn" value="Сохранить" />

  </form>
</div>
{% endif %}

          <div class="btn-group mr-2" role="group" aria-label="Third group">

         <button type="button" class="btn btn-secondary dropdown-toggle" style="width: 170px;" id="dropdownMenuOffset_period" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">Фильтр по периоду</button>
            <div class="dropdown-menu">

                <form class="px-4 py-3" method="get" id="period" enctype="multipart/form-data" style="width: 300px;" action="">
                    <label class="form-check-label"><b>Тесты, которые сданы в период:</b></label>

                    <div class="form-group">
                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="result_time_since" data-target="#datetimepicker3" placeholder="C..."/>
                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div></div>
                    </div>

                    <div class="form-group">
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="result_time_for" data-target="#datetimepicker4" placeholder="По..."/>
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div></div>
                    </div>
                </form>
        </div>
        </div>

          <div class="btn-group mr-2" role="group" aria-label="Forth group">
          <div class="input-group"> <span class="input-group-addon"></span>
            <input id="filter" style="width: 73px;" type="text" class="form-control" placeholder="Поиск">
            </div>
          </div>

</div>
</div></div>
</div>

  <table
          id="table"
          data-toggle="table"
          data-toolbar="#toolbar"
          data-search="false"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          data-detail-view="true"
          data-show-export="true"
          data-checkbox-header="true"
          data-click-to-select="true"
          data-detail-formatter="detailFormatter"
          data-minimum-count-columns="2"
          data-show-pagination-switch="true"
          data-pagination="true"
          data-id-field="tests_id"
          data-page-list="[10, 25, 50, 100, all]"
          data-show-footer="true"
          data-buttons="buttons"
          data-response-handler="responseHandler">

    <thead class="thead-dark">
    <tr>
      <th scope="col" data-field="state" data-checkbox="true"></th>
      <th scope="col" data-field="tests_id" data-searchable="true">Тест ID</th>
      <th scope="col" data-field="expected_time" data-searchable="true">Назначенное время сдачи теста</th>
      <th scope="col" data-field="result_time" data-searchable="true">Фактическое время сдачи теста</th>
      <th scope="col" data-field="result" data-searchable="true">Результат</th>
      <th scope="col" data-field="operate" data-formatter="operateFormatter"
          data-events="operateEvents">Удалить</th>
    </tr>
  </thead>
<tbody class="searchable">

{% for test in tests %}
<tr>
    <td scope="row" data-field="state"></td>
  <td scope="row" data-field="tests_id">{{ test.tests_id }}</td>
  <td scope="row" data-field="expected_time">{{ test.expected_time|date:"Y-m-d H:i:s" }}</td>
  <td scope="row" data-field="result_time">{{ test.result_time|date:"Y-m-d H:i:s" }}</td>
  <td scope="row" data-field="result">{{ test.result|yesno:"Успешно,Провален" }}</td>
  <td scope="row" data-field="operate"></td>
  </tr>
 {% endfor %}

</tbody>
</table>

<table>
    <tr><th class="dark3" colspan="3" style="text-align: center">ДАННЫЕ ТЕСТОВ В ПЕРИОД</th></tr>
    <tr><th colspan="1" style="text-align: center">c <div id="start"></div></th>
    <th colspan="2" style="text-align: center">по <div id="end"></div></th></tr>
    <tr>
      <th style="width:32%">Тестов всего</th>
      <th>Тестов сдано успешно<i class="fa fa-check"></i></th>
      <th>Тестов провалено<i class="fa fa-remove"></i></th>
    </tr>
    <tr>
      <td><div id="count_p"></div></td>
        <td><div id="passed_p"></div></td>
      <td><div id="fail_p"></div></td>
    </tr>

</table>

</div>
</div>
</div>


<script type="text/javascript">
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []
    var $button = $('#button')
    var csrftoken = $.cookie('csrftoken');

    function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.tests_id
        })
    }

    function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.tests_id, selections) !== -1
    })
    return res
    }

    function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    var html_result = [html[3], html[5], html[7], html[9]]
    return html_result.join('')
    }

    function operateFormatter(value, row, index) {
    return [
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '<i class="fa fa-trash"></i>',
      '</a>'
    ].join('')
    }

    window.operateEvents = {
    'click .remove': function (e, value, row, index) {
        $.ajax({
          url: "/api/v1/tests/" + row.tests_id +"/",
          method: "delete",
          dataType: "json",
          success: function(){
                 $table.bootstrapTable('remove', {
                 field: 'tests_id',
                 values: [row.tests_id], }),
                 alert("Тест удален");}
          })
    }}

var obj = document.getElementById('table')
cells = obj.getElementsByTagName('td')
console.log(cells)
console.log(cells[1], cells[2], cells[3], cells[4])

// Функция поиска search
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});

// Функция таблицы и фильтрация
 $(function() {
          var data = []
        var list = new Map()
        {% for test in tests %}
           var obj = {'tests_id': {{ test.tests_id }},
            'expected_time': '{{ test.expected_time|date:"Y-m-d H:m:s" }}',
            'result_time': '{{ test.result_time|date:"Y-m-d H:m:s" }}',
            'result': '{{ test.result }}'}
            data.push(obj)
            console.log(obj)
        {% endfor %}

        $table.bootstrapTable({data: data})
        console.log(data)

        //тестов всего
        count = data.length
        console.log(count)
        document.getElementById("count").innerHTML = '<b>Тестов всего: <b>' + count

        //перевод строки в bool
        function Boolean(string){
    switch(string.toLowerCase().trim()){
        case "true": case "yes": case "1": case "on":  return true;
        case "False": case "false": case "no": case "0": case null: return false;
        default: return Boolean(string);
    }}

        //тестов провалено
        fail = 0
        data.forEach(function(value, index, data) {
        if ((Boolean(data[index].result)) === false) {
        fail = fail + 1;
        }
        });
        document.getElementById("failed").innerHTML = '<b>Тестов провалено<i class="fa fa-remove"></i>: <b>' + fail
        console.log(fail)

        // вывести в шкалу fail
        var fail_perc = (100 * fail) / count
        console.log(fail_perc)


        // всего пройденных тестов
        passed = count - fail
        document.getElementById("passed").innerHTML = '<b>Тестов сдано успешно<i class="fa fa-check"></i>: <b>' + passed
        console.log(passed)


        // проценты
        if (isNaN(fail_perc)) {
        document.getElementById("fail").innerHTML = 0 + '%';
        document.getElementById("pass").innerHTML = 0 + '%'; }
        else {
        document.getElementById("fail").innerHTML = Math.round(fail_perc) + '%';
        document.getElementById("pass").innerHTML = (100 - Math.round(fail_perc)) + '%'; }

        // среднее значение тестов в день
        // все даты
        var all_d = [];
        for(var i = 0 ; i < data.length ; i++){
        var item = data[i].result_time;
        all_d.push(item)
        }

        // убираем null из all_d
        all_d = all_d.filter(function (el) {
        return el != null;
        });
        console.log(all_d)

        //самая ранняя
        earliest = all_d.reduce(function (pre, cur) {
        return Date.parse(pre) > Date.parse(cur) ? cur : pre;
        });
        console.log(earliest)
        console.log(Date.parse(earliest))
        // поздняя
        last = all_d.reduce(function (pre, cur) {
        return Date.parse(pre) < Date.parse(cur) ? cur : pre;
        });
        console.log(last)
        console.log(Date.parse(last))
        // дата и результат последнего теста
        var y = data.filter(function (data) {
            return data.result_time === last
            });
        console.log(y[0].result)

        if(  y[0].result === false ) {
            y[0].result = "×";
        } else {
            y[0].result = "✔";
        }
        console.log(y[0].result)
        document.getElementById("last").innerHTML = '<b>Последний тест: </b>' + last + '<b> Результат: </b>' + y[0].result
        //количество дней
        var future = moment(last);
        var start = moment(earliest);
        var d = future.diff(start, 'days');
        console.log(d);
        //количество тестов в день
        if (d === 0) {
        var aver = 1 } else {
        var aver = Math.round(d / data.length) }
        if (isNaN(aver)) { aver = 0 }
        document.getElementById("aver").innerHTML = '<b>Среднее количество тестов в день: </b>' + aver
        console.log(aver)

        // ФИЛЬТР по датам фактических сдач
        // передача данных из формы period
        $("#period").click(function(){

        var elements = document.getElementById("period").elements;
        var period = {};
        for(var i = 0 ; i < 2 ; i++){
        var item = elements.item(i);
        period[item.name] = item.value;
        }
        console.log(period)

        // перевод в html
        document.getElementById("start").innerHTML = period.result_time_since
        document.getElementById("end").innerHTML = period.result_time_for

        // переменные порога от - до
        var startDate = new Date(period.result_time_since);
        var endDate = new Date(period.result_time_for);
        console.log(startDate, endDate)

         // фильтр
         resultData = []
         data.forEach(function(value, index, data) {
              var resultDate = new Date(data[index].result_time);
              if (resultDate >= startDate && resultDate <= endDate) {
                resultData.push(data[index])
              }
         })
         console.log(resultData)

         //всего тестов по фильтру в заданный период
            count_p = resultData.length
            console.log(count_p)
            document.getElementById("count_p").innerHTML = count_p

         // всего проваленных тестов по фильтру в заданный период
            fail_p = 0
            $(resultData).each(function(i){
            if (resultData[i].result === false) {
                fail_p = fail_p + 1;
            }
            });
            document.getElementById("fail_p").innerHTML = fail_p

            // всего успешно сданных тестов по фильтру в заданный период
                passed_p = count_p - fail_p
                document.getElementById("passed_p").innerHTML = passed_p

            // формирование списка для табличного фильтра
                var list = []
                resultData.forEach(function(value, index, resultData) {
                list.push(resultData[index].result_time)
                })
                console.log(list)

            // табличный фильтр
                $table.bootstrapTable('filterBy', {
                result_time: list
                })
        })
})



// выбор ряда checkbox
 $table.on('check.bs.table uncheck.bs.table ' +
      'check-all.bs.table uncheck-all.bs.table',
    function () {
      $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
        selections = getIdSelections()
      })

 $table.on('all.bs.table', function (e, name, args) {
      console.log(name, args)
    })

// Удаление тестов согласно выбранным рядам checkbox
 $remove.click(function () {
               var ids = getIdSelections()

    ids.forEach(function(value, index, ids) {
        $.ajax({
          url: "/api/v1/tests/" + ids[index] +"/",
          method: "delete",
          dataType: "json",
          success: function(){
            $table.bootstrapTable('remove', {
              field: 'tests_id',
              values: ids,
            })
          }
        })
 })
  $remove.prop('disabled', true)
})


// перевод значения checkbox в Boolean
function Boolean(string){
    switch(string.toLowerCase().trim()){
        case "true": case "yes": case "1": case "on":  return true;
        case "false": case "no": case "0": case null: return false;
        default: return Boolean(string);
    }
}

// Создание токена для метода POST через формы
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

// Календарь dominus
$(function () {
        $("#datetimepicker1").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DDTHH:mm:ss', });
        $("#datetimepicker2").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DDTHH:mm:ss', });
        $("#datetimepicker_p").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DD', });
        $("#datetimepicker3").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DDTHH:mm:ss', });
        $("#datetimepicker4").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DDTHH:mm:ss', });
      });


console.log({{ persona.personal_id }})
var x = parseInt({{ persona.personal_id }})
console.log(x)

var elements = document.getElementById("ajax_form").elements;
var data = {};
            for(var i = 1 ; i < 4 ; i++){
            var item = elements.item(i);
            data[item.name] = item.value;
		    }
console.log(Boolean(data.result))

var z = true
// Обработчик checkbox
$('#result').on('click', function () {
    let checkboxStatus = $(this).prop('checked')
    console.log(checkboxStatus)
    if ( $(this).prop('checked') === true ) {
        z = true
        console.log(z)
    } else {
        z = false
        console.log(z)
    }
})

// Добавление тестов данного сотрудника
$(function Add() {
  $("#btn").click(function(){

			var elements = document.getElementById("ajax_form").elements;
            var data = {};
            for(var i = 1 ; i < 4 ; i++){
            var item = elements.item(i);
            data[item.name] = item.value;
		    }

            console.log(data)

            var expected_time = data.expected_time
            var result_time = data.result_time
            var result = z
            var y = parseInt({{ persona.personal_id }})

    $.ajax({
        url: "/api/v1/tests/",
        type: "POST",
        dataType: "application/json; charset=utf-8",
        dataType: "json",
        data:          {
                        'personal_id': y,
                        'expected_time': expected_time,
                        'result_time': result_time,
                        'result': result},
        success: function(data) {
        	console.log(data)
    	},

   });
 })
})

// Не отправляет снова формы при обновлении страницы
 if ( window.history.replaceState ) {
 window.history.replaceState( null, null, window.location.href );}

// Редактирование профиля
$("#btn_put").click(function(){
			var elements = document.getElementById("ajax_put").elements;
            var data = {};
            for(var i = 2 ; i < 7 ; i++){
            var item = elements.item(i);
            data[item.name] = item.value;
		    }

            var ext_id = parseInt(data.ext_id_put)
            var full_name = data.full_name_put
            var birth_date = data.birth_date_put
            var position = data.position_put
            var punishment = parseInt(data.punishment_put)

            $.ajax({
                url: "/api/v1/personals/" + x +"/",
                type: "PUT",
                dataType: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                        'ext_id': ext_id,
                        'full_name': full_name,
                        'birth_date': birth_date,
                        'position': position,
                        'punishment': punishment },
                success: function(response) {
        	        console.log(JSON.stringify(data));
                },
                error: function(response) {
                    console.log(JSON.stringify(data))
                }
            })
             console.log(data)

})
</script>
</body>
{% endblock %}



