{% extends "poll/layout/base.html" %}
{% block main %}
 <head>
<style type="text/css">
.select,
  #locale {
  width: 100%;
  }
.like {
  margin-right: 10px;
  }
.form-group {
  width: 100%;
  height: 100%;
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: center;
  padding: 16px;
}
th:first-child, td:first-child {
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
.fa-exclamation {
  color: red;
}
</style>
</head>

<body>

<table style="border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;">
    <tr style="background-color: #f2f2f2"><th colspan="3" style="text-align: center">ПЕРСОНАЛ</th></tr>
    <tr style="background-color: #f2f2f2">
      <th style="width:32%; text-align: center;
  padding: 16px;">Сотрудников всего</th>
      <th style="width:32%; text-align: center;
  padding: 16px;">Сотрудников, проваливших тесты<i class="fa fa-remove" style="color: red;"></i></th>
        <th style="width:32%; text-align: center;
  padding: 16px;">Всего дисциплинарных взысканий<i class="fa fa-exclamation" style="color: red;"></i></th>
    </tr>
    <tr>
      <td style="text-align: center;
  padding: 16px;"><div id="count"></div></td>
        <td style="text-align: center;
  padding: 16px;">{{ f }}</td>
      <td style="text-align: center;
  padding: 16px;"><div id="punish"></div></td>
    </tr>
</table>

<br>
<div class="select">
  <select class="form-control" id="locale">
    <option value="en-US" selected>en-US</option>
    <option value="ru-RU">ru-RU</option>
  </select>
</div>
<br>
<div id="toolbar">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

<div class="btn-group mr-2" role="group" aria-label="First group">
  <button id="remove" class="btn btn-danger" disabled>
    <i class="fa fa-trash"></i> Delete
  </button>
</div>

<div class="btn-group mr-2" role="group" aria-label="Second group">
<div class="dropdown mr-4">
    <button type="button" class="btn btn-secondary dropdown-toggle" style="width: 200px;" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
      Загрузить
    </button>
<div class="dropdown-menu">
  <form class="px-4 py-3" method="post" id="ajax_form" enctype="multipart/form-data" action="">
    {% csrf_token %}

        <div class="form-group">
          <input type="number" class="form-control" name="ext_id" placeholder="Расшир. ID" /><br>
        </div>

        <div class="form-group">
        <input type="text" class="form-control" name="full_name" placeholder="ФИО">
        </div>

        <div class="form-group">
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="birth_date" data-target="#datetimepicker1" placeholder="Дата рождения"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div></div>
        </div>


        <div class="form-group">
        <input type="text" class="form-control" name="position" placeholder="Должность">
        </div>

        <div class="form-group">
        <input type="text" class="form-control" name="punishment" placeholder="Взыскания">
        </div>

        <input type="submit" class="btn btn-primary" id="btn" value="Загрузить" />

  </form>
</div>
</div>
</div>

<div class="btn-group" role="group" aria-label="Third group">
<div class="dropdown mr-4">
    <button type="button" class="btn btn-secondary dropdown-toggle" style="width: 200px;" id="dropdownMenuOffset_put" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
      Изменить
    </button>
<div class="dropdown-menu">
  <form class="px-4 py-3" method="post" id="ajax_put" enctype="multipart/form-data" action="">

      <input type="hidden" name="_method" value="PUT">
      {% csrf_token %}
        <div class="form-group">
          <input type="number" class="form-control" id="ext_id_put" name="ext_id_put" placeholder="Расшир. ID" /><br>
        </div>

        <div class="form-group">
        <input type="text" class="form-control" id="full_name_put" name="full_name_put" placeholder="ФИО">
        </div>

        <div class="form-group">
          <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" id="birth_date_put" name="birth_date_put" data-target="#datetimepicker2" placeholder="Дата рождения"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div></div>
        </div>


        <div class="form-group">
        <input type="text" class="form-control" id="position_put" name="position_put" placeholder="Должность">
        </div>

        <div class="form-group">
        <input type="text" class="form-control" id="punishment_put" name="punishment_put" placeholder="Взыскания">
        </div>



        <input type="submit" class="btn btn-primary" id="btn_put" value="Изменить" />

  </form>
</div>
</div>
</div>

        <div class="btn-group mr-2" role="group" aria-label="Forth group">
        <button id="button" class="btn btn-secondary">Кто провалил тесты</button>
        </div>

         <div class="btn-group mr-2" role="group" aria-label="Fifth group">
            <div class="input-group"> <span class="input-group-addon"></span>
            <input id="filter" type="text" class="form-control" placeholder="Поиск">
            </div>
          </div>
</div>
</div>


<table
  id="table"
  data-toggle="table"
  data-toolbar="#toolbar"
  data-search="false"
  data-show-refresh="true"
  data-show-toggle="true"
  data-show-fullscreen="true"
  data-show-columns="true"
  data-show-columns-toggle-all="true"
  data-detail-view="true"
  data-show-export="true"
  data-click-to-select="true"
  data-detail-formatter="detailFormatter"
  data-minimum-count-columns="2"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-id-field="tests_id"
  data-page-list="[10, 25, 50, 100, all]"
  data-show-footer="true"
  data-url="{% url 'Personals-list' %}"
  data-buttons="buttons"
  data-response-handler="responseHandler">
    <thead class="thead-dark">
        <tr>
        <td scope="col" data-field="state" data-checkbox="true"></td>
        <td scope="col" data-field="personal_id" data-searchable="true">Персональный ID</td>
        <td scope="col"></td>
        <td scope="col" data-field="ext_id" data-searchable="true">Расширенный ID</td>
        <td scope="col" data-field="full_name" data-searchable="true">ФИО</td>
        <td scope="col" data-field="birth_date" data-searchable="true">Дата рождения</td>
        <td scope="col" data-field="position" data-searchable="true">Должность</td>
        <td scope="col" data-field="punishment" data-searchable="true">Дисциплинарные зыскания</td>
        <td scope="col" data-field="operate" data-formatter="operateFormatter"
          data-events="operateEvents"></td>
        </tr>
  </thead>
    <tbody class="searchable">
    </tbody>
</table>

<script type="text/javascript">
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []
    var $button = $('#button')
    var csrftoken = $.cookie('csrftoken');
    function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.personal_id
        })
    }

    // Не отправляет снова формы при обновлении страницы
    if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );}

    function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.personal_id, selections) !== -1
    })
    return res
    }

    function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
    }

    function operateFormatter(value, row, index) {
    return [
      '<a class="like" href="javascript:void(0)" title="Профиль">',
      '<i class="fa fa-id-card" aria-hidden="true"></i>',
      '</a>  ',
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '<i class="fa fa-trash"></i>',
      '</a>'
    ].join('')
    }

    window.operateEvents = {
    'click .like': function (e, value, row, index) {
        value = [row.personal_id],
        document.location.href = "/card/" + row.personal_id +"/";
    },
    'click .remove': function (e, value, row, index) {
        $.ajax({
          url: "/api/v1/personals/" + row.personal_id +"/",
          method: "delete",
          dataType: "json",
          success: function(){
                 $table.bootstrapTable('remove', {
                 field: 'personal_id',
                 values: [row.personal_id], }),
		         alert("Удалить получилось!");}
          })
    }}

// Функция таблицы
 function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
    height: 550,
    locale: $('#locale').val(),
    columns: [
        [{
          field: 'state',
          checkbox: true,
          rowspan: 2,
          align: 'center',
          valign: 'middle'
        },{
            field: 'personal_id',
            title: 'Персональный ID',
            rowspan: 2,
            align: 'center',
            valign: 'middle',
            sortable: true,
             searchable: true
        }, {
          title: 'Детальная информация',
          colspan: 6,
          align: 'center'
        }],
        [{
            field: 'ext_id',
            title: 'Расширенный ID',
            sortable: true,
            align: 'center',
        },{
            field: 'full_name',
            title: 'ФИО',
            sortable: true,
            align: 'center',
        },{
            field: 'birth_date',
            title: 'Дата рождения',
            sortable: true,
            align: 'center',
        },{
            field: 'position',
            title: 'Должность',
            sortable: true,
            align: 'center',
        },{
            field: 'punishment',
            title: 'Дисциплинарные взыскания',
            sortable: true,
            align: 'center',
        },{
            field: 'operate',
            title: 'Профиль/Удалить',
            align: 'center',
            clickToSelect: false,
            events: window.operateEvents,
            formatter: operateFormatter
        }]
       ]
      })

// Функция поиска search
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});

// выбор checkbox
 $table.on('check.bs.table uncheck.bs.table ' +
      'check-all.bs.table uncheck-all.bs.table',
    function () {
      $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
        selections = getIdSelections()
      })

 $table.on('all.bs.table', function (e, name, args) {
      console.log(name, args)
    })

// функция удаления выбранных рядов
 $remove.click(function () {
               var ids = getIdSelections()
    ids.forEach(function(value, index, ids) {
        $.ajax({
          url: "/api/v1/personals/" + ids[index] +"/",
          method: "delete",
          dataType: "json",
          success: function(){
            $table.bootstrapTable('remove', {
              field: 'personal_id',
              values: ids,
            })
          }
        })
 })
  $remove.prop('disabled', true)
})
}

// установка csrf
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

// dominus
$(function () {
        $("#datetimepicker1").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DD', });
        $("#datetimepicker2").datetimepicker({ locale: 'ru', format: 'YYYY-MM-DD', });
});

// добавление сотрудников
$(function() {
  $("#btn").click(function(){
			var elements = document.getElementById("ajax_form").elements;
            var data = {};
            for(var i = 0 ; i < 7 ; i++){
            var item = elements.item(i);
            data[item.name] = item.value;
		    }

            var csrfmiddlewaretoken = data.csrfmiddlewaretoken
            var ext_id = parseInt(data.ext_id)
            var full_name = data.full_name
            var birth_date = data.birth_date
            var position = data.position
            var punishment = parseInt(data.punishment)

    $.ajax({
        url: "/api/v1/personals/",
        type: "POST",
        dataType: "application/json; charset=utf-8",
        dataType: "json",

        data:          {
                        'ext_id': ext_id,
                        'full_name': full_name,
                        'birth_date': birth_date,
                        'position': position,
                        'punishment': punishment},
        success: function(response) {
        	console.log(JSON.stringify(data));
    	},
    	error: function(response) {
    	  console.log(JSON.stringify(data));

    	}
 	});
 })
})


// изменение метод put
$(function() {

    var checkedRows = [];
    var checkedExt_id = [];
    var checkedFull_name = [];
    var checkedBirth_date = [];
    var checkedPosition = [];
    var checkedPunishment = [];

    // выбор ряда
    $('#table').on('check.bs.table', function (e, row) {
        checkedRows.push({personal_id: row.personal_id});
        checkedExt_id.push({ext_id: row.ext_id});
        checkedFull_name.push({full_name: row.full_name});
        checkedBirth_date.push({birth_date: row.birth_date});
        checkedPosition.push({position: row.position});
        checkedPunishment.push({punishment: row.punishment});
        console.log(checkedRows);
        console.log(checkedExt_id[0].ext_id);

        // вывод в значение формы put по-умолчанию
        document.getElementById("ext_id_put").value = checkedExt_id[0].ext_id
        document.getElementById("full_name_put").value = checkedFull_name[0].full_name
        document.getElementById("birth_date_put").value = checkedBirth_date[0].birth_date
        document.getElementById("position_put").value = checkedPosition[0].position
        document.getElementById("punishment_put").value = checkedPunishment[0].punishment

    });

    $('#table').on('uncheck.bs.table', function (e, row) {
        $.each(checkedRows, function(index, value) {
            if (value.personal_id === row.personal_id) {
                checkedRows.splice(index,1);}
            })

        $.each(checkedExt_id, function(index, value) {
            if (value.ext_id === row.ext_id) {
                checkedExt_id.splice(index,1);}
            })

            $.each(checkedFull_name, function(index, value) {
            if (value.full_name === row.full_name) {
                checkedFull_name.splice(index,1);}
            })

            $.each(checkedBirth_date, function(index, value) {
            if (value.birth_date === row.birth_date) {
                checkedBirth_date.splice(index,1);}
            })

            $.each(checkedPosition, function(index, value) {
            if (value.position === row.position) {
                checkedPosition.splice(index,1);}
            })

            $.each(checkedPunishment, function(index, value) {
            if (value.punishment === row.punishment) {
                checkedPunishment.splice(index,1);}
            });
    });

    $("#btn_put").click(function(){
			var elements = document.getElementById("ajax_put").elements;
            var data = {};
            for(var i = 0 ; i < 7 ; i++){
            var item = elements.item(i);
            data[item.name] = item.value;
		    }

            var ext_id = parseInt(data.ext_id_put)
            var full_name = data.full_name_put
            var birth_date = data.birth_date_put
            var position = data.position_put
            var punishment = parseInt(data.punishment_put)

            console.log(data)

            checkedRows.forEach(function(value, index, checkedRows) {
            $.ajax({
                url: "/api/v1/personals/" + value.personal_id +"/",
                type: "PUT",
                dataType: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                        'ext_id': ext_id,
                        'full_name': full_name,
                        'birth_date': birth_date,
                        'position': position,
                        'punishment': punishment },
                success: function(response) {
        	        console.log(JSON.stringify(data));
                },
                error: function(response) {
                    console.log(JSON.stringify(data))
                }
            })})
    })
})

//запуск функции таблицы и выбор языка
$(function() {
    initTable()
    $('#locale').change(initTable)
 })

// фильтрация и вывод данных через ajax
$('#table').on('load-success.bs.table', function (data) {
  console.log($table.bootstrapTable('getData'))
  var data = $table.bootstrapTable('getData')
  console.log(data)

  // всего сотрудников
    count = data.length
    console.log(count)
    document.getElementById("count").innerHTML = count

  // дисциплинарные взыскания
  var punish_list = []
  $(data).each(function(i){
        punish_list.push(data[i].punishment)
    });
    var sum_punish = punish_list.reduce(function(a, b) { return a + b; }, 0);
     document.getElementById("punish").innerHTML = sum_punish
    console.log(sum_punish)
  })

var names = []
{% for fail in fails %}
    var fail = '{{ fail }}'
    names.push(fail)
{% endfor %}
console.log(names)

$(function() {
    $button.click(function () {
      $table.bootstrapTable('filterBy', {
        full_name: names
      })
    })
  })


</script>
</body>
{% endblock %}
